<!DOCTYPE html>
<html>
<<<<<<< HEAD
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html
=======
	<head>
		<title>My First View!!</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
	</body>
</html>
>>>>>>> 1d8100559e2b1df46a512ccf33d27bea0767590d
